// Файл обнуляющих стилей
@import "nullstyle.scss";

//!!! Standart begining ///
body {
	//background-color: #27272b;
	background-color: #0D0D11;
	font-family: Oswald;
	font-weight: 400;
	color: white;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

[class*='__container'] {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

//* =======================================
.page {
	flex: 1 1 auto; // Прибил к низу футер
}
.page__main {
}
//* =======================================
//!! //////////////////////

.button {
	display: flex;

	color: white;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 2px;
	text-transform: uppercase;

	width: 160px;
	height: 52px;
	align-items: center;
	justify-content: center;
	background-color: #1ba2d3;
	border-radius: 50px;

	transition: all 0.3s ease 0s;
}
.button:hover {
	background-color: #0080af;
	transform: scale(1.1);
}

@media (max-width: 767.98px) {
	.button {
		width: 136px;
		height: 44px;
	}
}
@media (max-width: 478.98px) {
	.button {
		width: 132px;
		height: 42px;
	}
}

.title {
	color: #FFF;
	line-height: 1.2;
}
.title span {
	color: #65c7ea;
}

//!! HEADER /////////////////////////////
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 40;

	background-color: #0D0D11;
}
.header a{
	color: #FFF;
}
.header__container {
	display: flex;
	align-items: center;
	column-gap: 35px;

	min-height: 116px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header__logo {
	position: relative;
	z-index: 1000;
}
.header__logo img {
	width: 135px;
}

.header__menu {
	flex: 1 1 auto;
}
.menu {
}

.menu__body{

}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	row-gap: 5px;
	column-gap: 35px;
}
.menu__item {
}
.menu__link {
	display: block;
	line-height: 1.6;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	transition: all 0.3s ease 0s;
}
.menu__link:hover {
	//text-decoration: underline;
	transform: scale(1.1);
}

.header__button {
	flex: 0 0 auto;
}

.burger-menu {
	display: none;
}

.header__button {
	position: relative;
	z-index: 1000;
}


@media (max-width: 991.98px) {
	.header__container{
		column-gap: 25px;
	}
	.menu__list {
		column-gap: 20px;
	}

	.header__container{
		min-height: 92px;
	}
}
@media (max-width: 767.98px) {
	.header__container{
		column-gap: 15px;
	}
	.menu__list {
		column-gap: 10px;
	}

	.burger-menu {
		background-color: #0D0D11;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 50;
	}
	.burger-menu span,
	.burger-menu::before,
	.burger-menu::after {
		content: '';
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #FFF;
		transition: all 0.3s ease 0s;
	}
	.burger-menu::before {
		top: 0;
	}
	.burger-menu::after {
		bottom: 0;
	}
	.burger-menu span {
		top: calc(50% - 1px);
	}
	
	.menu-open .burger-menu span {
		width: 0;
	}
	.menu-open .burger-menu::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu-open .burger-menu::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}

	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #0D0D11;
		left: -100%;
		top: 0;
		padding: 100px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
		z-index: 50;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: -100%;
		background-color: #0D0D11;
		z-index: 50;
		transition: left 0.3s ease 0s;
	}
	.menu__list {
		row-gap: 16px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.menu__link {
		font-size: 36px;
	}

	.header__container{
		min-height: 70px;
	}
}

.menu-open .menu__body,
.menu-open .menu__body::before {
	left: 0;
}

@media (max-width: 478.98px) {
	.header__logo {
	}
	.header__logo img {
		width: 100px;
	}
	.cart-header__text{
		display: none;
	}

	.cart-header__quantity {
		width: 38px;
		height: 45px;
		padding-top: 10px;
		background: url("/img/cart.png") center / 38px no-repeat;
		border-radius: 0;
	}
}
//!! ////////////////////////////////////

//!! BODY ///////////////////////////////////////

//* ================ PAGE MAIN ====================
.main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;

	color: white;
}

.forget-pass {
	transition: all 0.3s ease 0s;
}
.forget-pass:hover {
	text-decoration: underline;
}

.icon {
	transition: all 0.3s ease 0s;
}
.icon:hover {
	transform: scale(1.1);
}

.main h1 {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
}
.main a, button{
	color: white;
}
.main button{
	transition: all 0.3s ease 0s;
}
.main button:hover {
	transform: scale(1.1);
	background-color: #0080af;
}

.main__container{
	background-color: #1e1e20;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.main__container p{
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.3px;
	margin: 20px 0;
}

.container span{
	font-size: 12px;
}

.main__container a{
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0 10px;
}

.main__container button{
	background-color: #1ba2d3;
	font-size: 12px;
	padding: 10px 45px;
	border: 1px solid transparent;
	border-radius: 8px;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	margin-top: 10px;
	cursor: pointer;
}

.main__container button.hidden{
	background-color: transparent;
	border-color: #fff;
}

.main__container form{
	background-color: #1e1e20;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
}

.main__container input{
	background-color: #262629;
	border: none;
	margin: 8px 0;
	padding: 10px 15px;
	font-size: 13px;
	border-radius: 8px;
	width: 100%;
	outline: none;
	color: white;
}

.form-container{
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in{
	left: 0;
	width: 50%;
	z-index: 2;
}

.main__container.active .sign-in{
	transform: translateX(100%);
}

.sign-up{
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.main__container.active .sign-up{
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: move 0.6s;
}

@keyframes move{
	0%, 49.99%{
		opacity: 0;
		z-index: 1;
	}
	50%, 100%{
		opacity: 1;
		z-index: 5;
	}
}

.social-icons{
	margin: 20px 0;
}

.social-icons a{
	border: 1px solid #ccc;
	border-radius: 20%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 3px;
	width: 40px;
	height: 40px;
}

.toggle-container{
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	border-radius: 150px 0 0 100px;
	z-index: 30;
}

.main__container.active .toggle-container{
	transform: translateX(-100%);
	border-radius: 0 150px 100px 0;
}

.toggle{
	background-color: #1ba2d3;
	height: 100%;
	background: linear-gradient(to right, #0080af, #1ba2d3);
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);

	transition: all 0.6s ease-in-out;
}

.main__container.active .toggle{
	transform: translateX(50%);
}

.toggle-panel{
	position: absolute;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 30px;
	text-align: center;
	top: 0;
	transform: translateX(0);

	transition: all 0.6s ease-in-out;
}

.toggle-left{
	transform: translateX(-200%);
}
.main__container.active .toggle-left{
	transform: translateX(0);
}
.toggle-right{
	right: 0;
	transform: translateX(0);
}
.main__container.active .toggle-right{
	transform: translateX(200%);
}

@media (min-width: 1039.98px) {
	.main__container {
		transform: scale(1.3);
	}
}
@media (max-width: 799.98px) {
	.main__container {
		transform: scale(0.8);
	}
}

@media (max-width: 564.98px) {
	.main__container{
		min-height: 700px;
	}







	.form-container{
		position: absolute;
		top: 0;
		height: 50%;
		transition: all 0.6s ease-in-out;
	}





	.sign-in{
		top: 0;
		width: 100%;
		height: 50%;
		z-index: 2;
	}
	.main__container.active .sign-in{
		transform: translateY(100%);
	}
	
	.sign-up{
		top: 0;
		width: 100%;
		height: 50%;
		opacity: 0;
		z-index: 1;
		transform: translateY(100%);
	}
	.main__container.active .sign-up{
		opacity: 1;
		z-index: 5;
		animation: move 0.6s;
		transform: translateY(100%);
	}

	@keyframes move{
		0%, 49.99%{
			opacity: 0;
			z-index: 1;
		}
		50%, 100%{
			opacity: 1;
			z-index: 5;
		}
	}
	
	.toggle-container{
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 50%;
		overflow: hidden;
		transition: all 0.6s ease-in-out;
		border-radius: 100px 100px 0 0;
		z-index: 30;
	}
	
	.main__container.active .toggle-container{
		transform: translateY(-100%);
		border-radius: 0 0 100px 100px;
	}
	
	.toggle{
		background-color: #1ba2d3;
		height: 100%;
		background: linear-gradient(to right, #0080af, #1ba2d3);
		position: relative;
		left: 0%;
		height: 200%;
		width: 100%;
		transform: translateY(-50%);
		transition: all 0.6s ease-in-out;
	}
	
	.main__container.active .toggle{
		transform: translateY(0);
	}
	
	.toggle-panel{
		position: absolute;
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 30px;
		text-align: center;
		left: 0;
		top: -50%;
		transform: translateY(0);
		transition: all 0.6s ease-in-out;
	}
	
	.toggle-left{
		transform: translateY(100%);
		opacity: 0;
	}
	
	.main__container.active .toggle-left{
		transform: translateY(100%);
		opacity: 1;
	}
	
	.toggle-right{
		transform: translateY(200%);
		opacity: 1;
	}
	
	.main__container.active .toggle-right{
		transform: translateY(0);
		opacity: 0;
	}
}


//* ================================================


//!! //////////////////////////////////////////////

//!! FOOTER ///////////////////////////////////////

//* ================== FOOTER ======================
.footer {
	background-color: #19191b;
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
}

.footer__bottom {
	
}

.bottom-footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bottom-footer__container {
	border-top: 1px solid rgba(129, 129, 139, 0.2);
}

.bottom-footer__content {
	display: flex;
	justify-content: space-between;

	text-align: center;
	align-items: center;

	padding-top: 20px;
}

.bottom-footer__logo {
}
.footer__logo {

}
.footer__logo img {
	width: 100px;
}

.bottom-footer__copy {
	color: rgb(156, 156, 156);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	
	text-transform: uppercase;
}

@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 478.98px) {
}
//* ================================================